<div class="center-60">
<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [columnAutoWidth]="false"
  [columnHidingEnabled]="false"
  (onRowRemoving)="eliminarRegistro($event.data.id)"
  (onSaved)="destinoRegistro($event)">
  

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true" [allowAdding]="true"></dxo-editing>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column
    dataField="id"
    [width]="120"
    caption="Id"
    [visible]= "false"
    >
  </dxi-column>
  <dxi-column
    dataField="producto.nombreProducto"
    [width]="150"
    caption="Producto">
  </dxi-column>
  <dxi-column
    dataField="cantidadProducto"
    [width]="150"
    caption="Cantidad Comprada"
    alignment = "center">
  </dxi-column>
  <dxi-column
    [width]="150"
    caption="Accion"
    type="buttons">
    <dxi-button name="edit"></dxi-button>
    <dxi-button name="delete"></dxi-button>
    
  </dxi-column>
</dx-data-grid>
</div>

