<h2 class="content-block">Clientes Afiliados</h2>

<span class="content-block">A continuacion encontraremos los clientes que se encuentra afiliadoas a nuestra base de datos</span>
<br>

<div>
<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  (onRowRemoving)="eliminarRegistro($event.data.id)"
  (onSaved)="editarRegistro($event)"
  (onRowPrepared)="agregarRegistro($event)">
  

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true" [allowAdding]="true"></dxo-editing>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column
    dataField="id"
    [width]="90"
    [allowEditing]="false">
  </dxi-column>
  <dxi-column
    dataField="nombre"
    [width]="150"
    caption="Nombre Cliente">
  </dxi-column>
  <dxi-column
    dataField="edad"
    [width]="150"
    caption="Edad cliente">
  </dxi-column>
  <dxi-column
    [width]="150"
    caption="Accion"
    type="buttons">
    <dxi-button name="edit"></dxi-button>
    <dxi-button name="delete"></dxi-button>
    
  </dxi-column>
</dx-data-grid>
</div>

